<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta property="og:image" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="og:title" content="@ViewData["Title"]" />
    <meta name="og:description" content="@ViewData["Description"]" />
    <meta name="og:image" content="" />
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:description" content="@ViewData["Description"]" />
    <meta name="twitter:image" content="" />
    <title>@ViewData["Title"] | Osena</title>
    <link rel="icon" href="" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="mx-auto overflow-x-hidden bg-[#f9f8f3]">
    @{
        var IsSpecialPage = ViewData["IsSpecialPage"] as bool? ?? false;
    }

    @if (!IsSpecialPage) @await Html.PartialAsync("~/Pages/Shared/Header/Header.cshtml", new osena.Pages.Shared.Header.HeaderModel())

    <main role="main">
        @RenderBody()
    </main>

    @if (!IsSpecialPage) @await Html.PartialAsync("~/Pages/Shared/Footer/Footer.cshtml", new osena.Pages.Shared.Footer.FooterModel())
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>